{% extends 'layout.html' %}
{% block title %} EC {% endblock %}

{% block body_block %}
{% load static %}

<p style="text-align:left">
FILTRER PAR : <input type="text" id="myInput1" onkeyup="filtreMyTable('myTable','myInput1', 0)" placeholder="LIBELLE">
</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>LIBELLE</th>
      <th>CREDITS</th>
      <th>H_CM</th>
      <th>H_TD</th>
    </tr>
  </thead>
  <tbody id="myTable">
    {% for ec in ECs %}
    <tr>
      <th scope="row">{{ ec.id }}</th>
      <td><a href="/ecX/{{ ec.id }}">{{ ec.libelle }}</a> </td> 
      <td>{{ ec.credit }}</td>
      <td>{{ ec.h_cm }}</td>
      <td>{{ ec.h_td }}</td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}