<HTML>

<HEAD>
  <SCRIPT LANGUAGE="javascript">
    function afficher(form2) {
      var testin = document.form2.input.value;
      document.form2.output.value = testin
    }
  </SCRIPT>
</HEAD>

<BODY>
  <FORM NAME="form2">
    <INPUT TYPE="text" NAME="input" VALUE=""> Zone de texte d'entrée <BR>
    <INPUT TYPE="button" NAME="bouton" VALUE="Afficher" onClick="afficher(form2)"><BR>
    <INPUT TYPE="text" NAME="output" VALUE=""> Zone de texte de sortie
  </FORM>

  <form name="form5">
    <input type="texte" name="login" value='Votre login' onFocus="if (this.value=='Votre login') {this.value=''}">
  </form>

   
  <p id="demo">This is a p element with id="demo".</p>

  <p>Click the button to change the text of the p element.</p>

  <button onclick="myFunction()">Try it</button>

  <script>
    function myFunction() {
      document.querySelector("#demo").innerHTML = "Hello World!";
    }
  </script>
</BODY>

</HTML>