{% extends 'layout_img_bg.html' %}

{% load i18n %}

{% block head_title %}{% trans "Gestion EDT" %}{% endblock %}
{% block extra_head %}{% endblock extra_head %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    <h1>Gestion EDT</h1>
    <p>Gérez vos étudiants, professeurs et leurs emplois du temps.</p>
    <p>Par Steven EL-KHOURY, Paul MALINVAUD et Guilhem TISSOT</p>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Learn More!</h4>
    </div>
    <div class="modal-body">
      <p>To make it more user friendly there is the idea of EventRelation which links generic objects and an Event object.  The idea is that you will keep more information about the event in these relations such as who is authorized to view them. It could be the case that User is linked to Event to represent who is authorized to view the event, and also User is linked to event to represent who is attending the event.</p>
      <p>The EventRelation has another field called distinction.  So in the previous example we could add an EventRelation which links a User to an Event with the distinction "viewer" and another EventRelation which links a User to an Event with the distinction "attendee."</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}
