<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'homepage' %}">Accueil</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Individu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'homepage' %}">Recherche</a>
                        <a class="dropdown-item" href="{% url 'homepage' %}">Ajout</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Promotion
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'homepage' %}">Recherche</a>
                        <a class="dropdown-item" href="{% url 'homepage' %}">Ajout</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Séance
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'homepage' %}">Recherche</a>
                        <a class="dropdown-item" href="{% url 'homepage' %}">Ajout</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage' %}">Salles</a>
                </li>
        </nav>
    </header>
    



</body>
